<footer class="footer pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="footer-title">Let's build something great together.</h3>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <h4>Start a conversation</h4>
                        <ul class="list-unstyled p-0">
                            <li><a href="mailto:your-email@example.com">your-email@example.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Quick links</h4>
                        <ul class="list-unstyled p-0">
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="index.html#Work">Work</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




<footer class="footer pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <h3 class="footer-title">Let’s build something great together.</h3>
                    <div class="row mt-5">
                        <div class="col-md-4">
                            <h4>Start a conversation</h4>
                            <ul class="list-unstyled p-0">
                                <li class="#"><a href="mailto:hi@sharebootstrap.com" target="_blank" data-bypass="">hi@</a>
                                </li>
                                <li class="#"><a href="mailto:hi@sharebootstrap.com" target="_blank" data-bypass="">dummy@</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Portfolio sites</h4>
                            <ul class="list-unstyled p-0">
                                <li class="#"> <a href="#" target="_blank">sharebootstrap.com</a></li>
                                <li class="#"><a href="#" target="_blank">codenpixel.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Quick links</h4>
                            <ul class="list-unstyled p-0">
                                <li class="#"><a href="#">contact</a></li>
                                <li class="#"><a href="#">terms</a></li>
                                <li class="#"><a href="#">faq</a></li>
                                <li class="#"><a href="#">who we are</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>